.header{
    position: relative;
    background-image: url('../img/headerDesktop.jpg');
    background-repeat: no-repeat;
}

.img_yo{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 120px;
    top: 450.38px;
    border-radius: 300px;
    background-image: url('../img/yo.jpg');
}

.python__img{
    position: relative;
    width: 100px;
    height: 100px;
    top: 1200.38px;
}

.sql__img{
    position: relative;
    width: 100px;
    height: 100px;
  
    top: 1200.38px;
}

.java__img{
    position: relative;
    width: 100px;
    height: 100px;
 
    top: 1200.38px;
}

.css3__img{
    position: relative;
    width: 100px;
    height: 100px;
    top: 1200.38px;
}

.html5__img{
    position: relative;
    width: 100px;
    height: 100px;
}

.js__img{
    position: relative;
    width: 100px;
    height: 100px;
    top: 1200.38px;
}

.node__img{
    position: relative;
    width: 100px;
    height: 100px;
    top: 1200.38px;
}

.net__img{
    position: relative;
    top: 1200.38px;
}

.c_sharp__img{
    position: relative;
    top: 1200.38px;
}

#contenedor{
    width: 16%;
    height: 20%;
}



